# Python related
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
instance/
*.egg-info/

# Django related
media/

# Frontend related (Vue/React)
node_modules/
dist/
build/
*.log

# Webpack
webpack/
public/

# Environment files
*.env
.env.local
.env.*.local

# VS Code related
.vscode/

# MacOS related
.DS_Store

# Windows related
Thumbs.db
